
<!--The content below is only a placeholder and can be replaced.-->

<div class="container" style="text-align: center">

  <h1>
   Orders
  </h1>

  <div class="text-align:center">
    <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td>Order Id</td>
        <td>Active </td>
        <td>Product Name</td>
        <td>User Order Number (User Id)</td>
        <td>Aisle Name</td>
          <td>Department Name</td>
        <td>Delete?</td>
        <td>Edit Order</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of orders | filter | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 5,
                                                      currentPage: page,
                                                      totalItems: totalRec };let i = index">
        <td>{{user.id}}</td>
     <td>{{user.active}}</td>
        <td>{{user.productName}}</td>

        <td>{{user.orderNum}}</td>

      <td>{{user.product.aisle.name}}</td>


      <td>{{user.product.department.title}}</td>
  <td><button class="btn btn-danger" (click)="deleteOrder(user)"> Delete</button></td>

  <td><button class="btn btn-danger" (click)="updateOrder(user)"> Edit </button></td>

 <td></td>



    </tbody>
  </table>

</div>
