<h4 *ngIf="auth.isAuthenticated()">
 <h1> Hi, welcome </h1>
    <pre class="full-profile">{{ profile | json }}</pre>
</h4>
<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>


   <div class="jumbotron">

<h1 class="line-1 anim-typewriter" style="font-size: 40px">Welcome to LetsShop! <i class="fa fa-shopping-cart"></i> </h1>
<h1>What to know more how we were developed?</h1>

  <strong>Well done You Made It! </strong> <i class="fa fa-thumbs-up" style="font-size:48px;color:red"></i><a href="https://github.com/vanessailana/Object-Oriented-Design-Final-Project" class="alert-link">Visit our Github Repo. To see Our Dev Process </a>.
</div>
